* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

body {
    background-color: #171717;
    width: 100vw;
    position: relative;
}

.whole {
    height: 100vh;
    margin-left: 60px;
    margin-right: 60px;
}

header {
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 a {
    font-family: Baskerville Old Face;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 36px;
    letter-spacing: -0.04em;

    color: rgba(255, 255, 255, 0.9);
}


/*햄버거 메뉴*/
.menu {
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    max-width: 0;
    transition: 0.5s ease;
    z-index: 1;
}

.burger-icon {
    cursor: pointer;
    display: inline-block;
    z-index: 2;
    padding: 8px 0;
    line-height: 120px;
    user-select: none;
    width: auto;
    margin: 0;
}

.burger-icon .burger-sticks {
    background: rgba(255, 255, 255, 0.9);
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 20px;
}

.burger-icon .burger-sticks:before,
.burger-icon .burger-sticks:after {
    background: rgba(255, 255, 255, 0.9);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.burger-sticks-before{
    display:none;
}

.burger-icon .burger-sticks:before {
    top: 5px;
}

.burger-icon .burger-sticks:after {
    top: -5px;
}

.burger-check {
    display: none;
}

.burger-check:checked~.menu {
    max-width: 400px;
}

.burger-check:checked~.burger-icon .burger-sticks {
    background: transparent;
}

.burger-check:checked~.burger-icon .burger-sticks:before {
    transform: rotate(-45deg);
}

.burger-check:checked~.burger-icon .burger-sticks:after {
    transform: rotate(45deg);
}

.burger-check:checked~.burger-icon:not(.steps) .burger-sticks:before,
.burger-check:checked~.burger-icon:not(.steps) .burger-sticks:after {
    top: 0;
}

.menu h1 {
    margin-left: 60px;
    margin-top: 80px;
    margin-bottom: 36px;

    font-family: NanumSquareOTF_ac;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.04em;

    color: rgba(255, 255, 255, 0.9);
}

.menu h3 a{
    margin-left: 60px;
    margin-bottom: 36px;

    font-family: NanumSquareOTF_ac;
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 35px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.04em;

    color: rgba(255, 255, 255, 0.5);
}

.menu h3 a:hover{
    color: rgba(255, 255, 255, 0.9);
}


/*컨테이너*/
.movietitle h1 {
    position: absolute;
    left: 1200px;
    top: 205px;

    font-family: NanumSquareOTF_ac;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: -0.04em;

    color: rgba(255, 255, 255, 0.9);
}

.movietitle h2 {
    position: absolute;
    left: 1200px;
    top: 239px;

    font-family: NanumSquareOTF_ac;
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 55px;
    letter-spacing: -0.04em;

    color: rgba(255, 255, 255, 0.9);
}


/*리스트 넘버*/
.list-number {
    position: absolute;
    top: 206px;

    font-family: NanumSquareOTF_ac;
    font-style: normal;
    font-weight: normal;
    font-size: 200px;
    line-height: 221px;
    letter-spacing: -0.04em;

    color: rgba(255, 255, 255, 0.9);
}

.play-list{
    margin-top: 506px;
}

.play-list h1{
    position: absolute;
    top: 607px;

    font-family: NanumSquareOTF_ac;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: -0.04em;

    color: rgba(255, 255, 255, 0.9);
}


/* 리스트 부분 */
.item {
    margin-bottom: 12px;
}

.item-title{
    color: rgba(255, 255, 255, 0.3);
    font-weight: 800;
    font-size: 32px;
    margin-top: 20px;
    margin-left: -36px;
    cursor: pointer;
}

#music-list{
    margin-top: 20px;
    opacity: 0;
}

.item-img{
    opacity: 0;
}

.item>.item-img {
    width: 30px;
    height: 30px;
    display: inline-block;
    vertical-align: middle;
    background-image: url('./musics/00.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.item>.item-title {
    display: inline-block;
    vertical-align: middle;
    line-height: 30px;
}
.item>.item-title.bold{
    color: rgba(255, 255, 255, 0.9);
    font-weight: 800;
}


/* 플레이어부분 */
#player {
    margin-top: 32px;
}

#player>.player-img {
    width: 390px;
    height: 330px;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: calc(50% - 165px);
    transform: translateX(-50%);

    right: 0;
    display: block;
    background-image: url('./musics/00.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

#player>.player-progress {
    width: 240px;
    height: 10px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.25);

    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 70%;
}

#player>.player-progress>div {
    position: relative;
    top: 10px;
    height: 2px;
    background-color: #fff;
}

#playerControl {
    display: flex;
    vertical-align: middle;

    position: absolute;
    top: 73%;
    left: 50%;
    transform: translateX(-50%);
}

#prev {
    margin-right: 20px;
}

#pause {
    width: 61px;
    height: 61px;
}

#next {
    margin-left: 20px;
}

#spotlight {
    height: 100vh;

    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0px;
    opacity: 0;

    transition: 1s ease-in-out;
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

#playerControl:nth-child(2) {
    width: 61px;
    height: 61px;
}

.glitter {
    width: 30px;
    height: 30px;
    position: absolute;
}

.glitter:nth-child(1) {
    top: 600px;
    left: 72%;
    transform: scale(0.8);

    animation: fadeInOut;
    animation-duration: 5s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
}

.glitter:nth-child(2) {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: var(--glitter-background);

    left: 20%;
    top: 500px;

    animation: fadeInOut;
    animation-duration: 5s;
    animation-delay: 7s;
    animation-iteration-count: infinite;
}

.glitter:nth-child(3) {
    top: 750px;
    left: 30%;
    transform: scale(0.6);

    animation: fadeInOut;
    animation-duration: 5s;
    animation-delay: 5s;
    animation-iteration-count: infinite;
}

.glitter:nth-child(4) {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: var(--glitter-background);
    transform: scale(.8);

    top: 780px;
    left: 82%;

    animation: fadeInOut;
    animation-duration: 5s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
}

.glitter:nth-child(5) {
    top: 680px;
    left: 10%;
    transform: scale(.8);

    animation: fadeInOut;
    animation-duration: 5s;
    animation-delay: 3s;
    animation-iteration-count: infinite;
}

.glitter:nth-child(6) {
    top: 400px;
    left: 76%;
    transform: scale(0.6);

    animation: fadeInOut;
    animation-duration: 5s;
    animation-delay: 3s;
    animation-iteration-count: infinite;
}

.glitter:nth-child(7) {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: var(--glitter-background);

    top: 560px;
    left: 85%;

    animation: fadeInOut;
    animation-duration: 5s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
}

@keyframes fadeInOut {
    0% {
        opacity: 0.2;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0.1;
    }
}